html
    include html/head("title":"Главная")
    body 
        main.page 
            h1 Привет!
            img(src="@img/cover.jpg")
        include html/footer
        script(src="js/app.min.js") 