@import "fonts";

@import "normal.scss";

@import "header.scss";

@import "input.scss";

@import "furniture.scss";

@import "detailing.scss";

@import "specification.scss";

@import "settings.scss";

@import "variable.scss";

body {
    font-family: GentiumBookPlus;
    height: 100%;
}

main {
    background-color: yellow;

    h1 {
        color: red;
    }
}

.hide {
    display: none;
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
    // transition: all 0.3s;
}

.wraper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    padding-top: 3.125rem;
}


// input[type='number'] {
//     appearance: none;
// }
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
// }